<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= link_to '创建采购类型', new_product_type_path, {:class => "btn btn-primary"} %></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">采购类型</th>
            
            <th class="column-title no-link last" colspan="3"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @product_types.each_with_index do |product_type, index| %>
            <% odd = index.odd? %>
            <tr class="<%= odd ? 'odd' : 'even'%> pointer">
              <td class=" "><%= product_type.name %></td>
              <td><%= link_to '编辑', edit_product_type_path(product_type) %></td>
              <td><%= link_to '删除', product_type, method: :delete, data: { confirm: '确定删除?' } %></td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




