<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= link_to '创建用户', new_user_path, {:class => "btn btn-primary"} %><small>Custom design</small></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">姓名 </th>
            <th class="column-title">年龄</th>
            <th class="column-title">角色</th>
            <th class="column-title no-link last" colspan="2"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @users.each_with_index do |user, index| %>
            <% odd = index.odd? %>
            <tr class="<%= odd ? 'odd' : 'even'%> pointer">
              <td class=" "><%= user.name %></td>
              <td class=" "><%= user.age %></td>
              <td class=" "><%= user.role %></td>
              <td><%= link_to '编辑', edit_user_path(user) %></td>
              <td><%= link_to '删除', user, method: :delete, data: { confirm: '确定删除?' } %></td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




