<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>业主<%= @user.name %>缴费记录</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">费用类型</th>
            <th class="column-title">金额</th>
            <th class="column-title">缴费日期</th>
            <th class="column-title no-link last" colspan="3"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @charges.each_with_index do |charge, index| %>
            <% odd = index.odd? %>
            <tr class="<%= odd ? 'odd' : 'even'%> pointer">
              <td class=" "><%= charge.charge_type.name %></td>
              <td class=" "><%= charge.price %></td>
              <td class=" "><%= charge.charge_date %></td>
              <td><%= link_to '编辑', edit_charge_path(charge) %></td>
              <td><%= link_to '删除', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @charges %>
    </div>
  </div>
</div>




