<div class="row tile_count">
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i>本月总花费</span>
      <div class="count red">35,000</div>
      <span class="count_bottom">比较上月<i class="red"><i class="fa fa-sort-asc"></i>4% </i> </span>
    </div>
  </div>
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i>本月水费</span>
      <div class="count green">2,500</div>
      <span class="count_bottom">比较上月<i class="green"><i class="fa fa-sort-desc"></i>34% </i> </span>
    </div>
  </div>
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i>物业电费</span>
      <div class="count green">2,315</div>
      <span class="count_bottom">比较上月<i class="green"><i class="fa fa-sort-desc"></i>34% </i> </span>
    </div>
  </div>
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i>物业采购费</span>
      <div class="count red">7,325</div>
      <span class="count_bottom">比较上月<i class="red"><i class="fa fa-sort-asc"></i>34% </i> </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>物业采购费用饼状图(<%= @beginning_of_month %>~<%= @end_of_month%>)</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("some_3id", @chart3) %>
      </div>
    </div>
  </div> 
</div>
<div class="row">
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>总花费用汇总(<%= @beginning_of_month %>~<%= @end_of_month%>)</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("graph_total_cost", @chart_graph_total_cost) %>
      </div>
    </div>
  </div> 
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>总花费占比(<%= @beginning_of_month %>~<%= @end_of_month%>)</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("pie_total_cost", @chart_pie_total_cost) %>
      </div>
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>采购费用汇总(<%= @beginning_of_month %>~<%= @end_of_month%>)</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("graph_product_cost", @chart_graph_product_cost) %>
      </div>
    </div>
  </div> 
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>采购费占比(<%= @beginning_of_month %>~<%= @end_of_month%>)</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("pid_product_cost", @chart_pid_product_cost) %>
      </div>
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>物业采购费用饼状图(<%= @beginning_of_month %>~<%= @end_of_month%>)</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("some_4id", @chart4) %>
      </div>
    </div>
  </div> 
</div>


