
<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= link_to '创建楼宇', new_building_path, {:class => "btn btn-primary"} %><small>Custom design</small></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <%= paginate @buildings %>
      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">楼号</th>
            <th class="column-title">名称</th>
            <th class="column-title">朝向</th>
            <th class="column-title">层数</th>
            <th class="column-title">类型</th>
            <th class="column-title">小区</th>
            <th class="column-title no-link last" colspan="2">
              <span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @buildings.each_with_index do |building, index| %>
            <% odd = index.odd? %>
            <tr class="<%= odd ? 'odd' : 'even'%> pointer">
              <td class=" "><%= building.num %></td>
              <td class=" "><%= building.name %></td>
              <td class=" "><%= building.face %></td>
              <td class=" "><%= building.floor_num %></td>
              <td class=" "><%= building.building_type.name %></td>
              <td class=" "><%= building.estate.name %></td>
              <td><%= link_to '编辑', edit_building_path(building) %></td>
              <td><%= link_to '删除', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
