<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= link_to '创建房间', new_room_path, {:class => "btn btn-primary"} %><small>Custom design</small></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <%= paginate @rooms %>
      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">楼宇</th>
            <th class="column-title">房间号</th>
            <th class="column-title">业主</th>
            <th class="column-title">房型</th>
            <th class="column-title">入住日期</th>
            <th class="column-title">建筑面积</th>
            <th class="column-title no-link last" colspan="2">
              <span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @rooms.each_with_index do |room, index| %>
            <% odd = index.odd? %>
            <tr class="<%= odd ? 'odd' : 'even'%> pointer">
              <td class=" "><%= room.building.name %></td>
              <td class=" "><%= room.room_num %></td>
              <td class=" "><%= room.user.name %></td>
              <td class=" "><%= room.room_type.name %></td>
              <td class=" "><%= room.room_in_date %></td>
              <td class=" "><%= room.area %></td>
              <td class=" "><%= link_to '编辑', edit_room_path(room) %></td>
              <td class=" "><%= link_to '删除', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

