<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= link_to '新建采购', new_product_path, {:class => "btn btn-primary"} %></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">物品名称</th>
            <th class="column-title">采购数量</th>
            <th class="column-title">采购单价</th>
            <th class="column-title">采购总价</th>
            <th class="column-title">采购日期</th>
            <th class="column-title">备注</th>
            <th class="column-title no-link last" colspan="3"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @products.each_with_index do |product, index| %>
            <% odd = index.odd? %>
            <tr class="<%= odd ? 'odd' : 'even'%> pointer">
              <td class=" "><%= product.name %></td>
              <td class=" "><%= product.count %></td>
              <td class=" "><%= product.price %></td>
              <td class=" "><%= product.total_price %></td>
              <td class=" "><%= product.date %></td>
              <td><%= link_to '编辑', edit_product_path(product) %></td>
              <td><%= link_to '删除', product, method: :delete, data: { confirm: '确定删除?' } %></td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @products %>
    </div>
  </div>
</div>


