<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= link_to "缴费", new_charge_path, {:class => "btn btn-primary"} %><small>Custom design</small></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <%= paginate @charges %>
      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">费用类型</th>
            <th class="column-title">费用</th>
            <th class="column-title">房间</th>
            <th class="column-title">业主</th>
            <th class="column-title">缴费时间</th>
            <th class="column-title no-link last" colspan="2">
              <span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @charges.each_with_index do |charge, index| %>
            <% odd = index.odd? %>
            <% user = charge.user %>
            <tr class="<%= odd ? 'odd' : 'even'%> pointer">
              <td class=" "><%= charge.charge_type.name %></td>
              <td class=" "><%= charge.price %></td>
              <td class=" "><%= user.room.room_num %></td>
              <td class=" "><%= user.name %></td>
              <td class=" "><%= charge.charge_date %></td>
              <td><%= link_to '编辑', edit_charge_path(charge) %></td>
              <td><%= link_to '删除', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

