<!DOCTYPE html>
<html>
<head>
  <title>GentelellaOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="nav-md">
<div class="container body">

<%= render "partials/sidenav" %>
<%= render "partials/topnav" %>

<div class="right_col" role="main" style="min-height: 272px; height: auto;">
<%= yield %>
</div>

  <%= render "partials/footer" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
